@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-VariableFont_YOPQ,wght.ttf");
  font-weight: 400-700;
  font-style: normal;
}

$ff-base: "Kumbh Sans";

$fs-paragraph: 16px;

$fw-400: 400;
$fw-700: 700;
