.cart-modal {
  display: grid;
  top: 12%;
  margin: 0 auto;
  width: 90%;
  gap: 1em;
  z-index: 1000;
  padding: 2em;
  border: none;
  border-radius: 0.7em;
  box-shadow: 0 1em 0.5em var(--very-dark-blue);
}

.cart-modal .cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1em;
  align-items: center;
}

.cart-modal img {
  max-width: 40px;
  border-radius: 0.3em;
}

.cart-modal button {
  background-color: var(--orange);
  padding: 1em;
  border-radius: 0.5em;
}
