@use "../util";

.header-menu {
  @include util.breakpoint(large) {
    &__overlay {
      position: relative;
      top: 0;
      left: 0;
      width: fit-content;
      height: min-content;
      background-color: transparent;
      transition: none;
      z-index: -1;
    }
    &__content {
      position: static;
      height: auto;
      transform: none;
      width: auto;
      background-color: transparent;
      z-index: 0;
      padding: 0;
      box-shadow: none;
      display: flex;
      align-items: center;
    }
    &__content ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
    }
    &__close-icon {
      display: none;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 101%; /* just to be sure */
    height: 100vh;
    background-color: var(--black-opacity);
    transition: opacity 0.3s ease;
    z-index: 999;
  }

  &__content {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    background-color: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 2em 1em;
    z-index: 1000;
  }

  &__content ul {
    display: grid;
    align-content: start;
    gap: 2em;
    padding: 3em 0;
  }

  &__close-icon {
    background: none;
    border: none;
    position: absolute;
    top: 2em;
    left: 1em;
  }

  &__content.show {
    left: 0;
    transform: translateX(0);
  }
}
