@use "../util";

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  padding: 1em;
  gap: 1em;

  @include util.breakpoint(large) {
    /* some media query here */
  }

  &__cart {
    position: relative;
  }

  &__cart-amount {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 9px;
    background-color: var(--orange);
    color: var(--white);
    padding: 0.1em 0.7em;
    border-radius: 0.7em;
  }

  &__avatar {
    max-width: 30px;
  }
}
